<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PulseDL</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>PulseDL</h1>
    <p>This is a test page </p>

    <button onclick="test()">Call JS file</button>
    <p id="result"></p>

    <button id="callPython">Call the Python API</button>
    <p id="pythonResult"></p>

    <input type="text" id="userUrl" placeholder="Enter URL to download">
    <button id="downloadButton">Download</button>
    
    <script src="../static/script.js"></script>
</html>